* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;

    .game {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .field {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 400px;

            .cell {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border: 5px solid #000;
                margin: 10px;
                cursor: pointer;

                .cross {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .line {
                        position: absolute;
                        width: 80px;
                        height: 10px;
                        background-color: #000;
                        transform: rotateZ(-45deg);

                        &:last-child {
                            transform: rotateZ(45deg);
                        }
                    }

                }

                .circle {
                    width: 75px;
                    height: 75px;
                    border: 5px solid #000;
                    border-radius: 50%;
                }
            }
        }
    }
}